@import "./mixins/mixin_font_size.sass"
@import "./mixins/mixin_images.sass"


.countryPagesHrefItemBack 
    width: 100%
    position: absolute
    filter: brightness(0.4)
    height: 100% 

.countryPagesHref 
    display: grid
    justify-content: center
    align-items: center
    grid-row-gap: 50px
    grid-column-gap: 50px
    margin-top: 50px
    grid-template-columns: repeat(auto-fit, minmax(150px, 250px))
    .countryPagesHrefItem 
        display: inline-block
        max-height: 200px
        cursor: pointer
        position: relative
        &:hover
            animation-duration: 2s
            animation-name: scale
        .dummy 
            margin-top: 100% 
        .countryPagesHrefItemText 
            position: absolute
            width: 80%
            margin: 0 auto
            cursor: pointer
            top: 0
            bottom: 0
            left: 0
            right: 0
            text-align: center
            display: flex
            justify-content: center
            align-items: center
            text-transform: uppercase
            color: white
            @include fluidFontSize(15px, 20px, 300px, 1920px, 18px)
            font-weight: bolder   

@media screen and (min-width: 688px) and (max-width: 1100px) 
    .countryPagesHrefItem 
        &:nth-child(3n) 
            max-width: 250px
            width: 100%
            height: 100%
            grid-column-start: 1
            grid-column-end: 3
            margin: 0 auto

.internationalProjectsItems 
    display: grid
    justify-content: center
    align-items: center
    grid-template-columns: repeat(auto-fill, minmax(200px, 300px) )
    grid-column-gap: 50px
    grid-row-gap: 50px
    padding: 50px 0px
    .specificItem 
        display: grid
        justify-content: center
        align-items: center
        grid-template-rows: 200px auto
        .internationalProjectsItemImage 
            width: auto
            height: 100%
            margin: 0 auto 
        .internationalProjectsItemText 
            width: 80%
            margin: 0 auto
            text-align: justify
            @include fluidFontSize(16px, 20px, 320px, 1920px, 20px)   

@media screen and (min-width: 768px) and (max-width: 1333px) 
    .specificItem 
        &:nth-child(3n) 
            max-width: 250px
            width: 100%
            height: 100%
            grid-column-start: 1
            grid-column-end: 3
            margin: 0 auto   


@keyframes scale 
    0%  
        transform: scale(1)   
    100%  
        transform: scale(1.1)  

















































.titleCountry 
    border-left: 6px solid #E04386
    border-right: 6px solid #E04386
    color: #49152C
    text-align: center
    @include fluidFontSize(15px, 25px, 300px, 1920px, 18px)
    padding: 20px 0px 20px 0px
    margin: 50px auto 50px auto
    max-width: 600px
    text-align: center
    width: 80%
    margin: 0 auto 

.days 
    padding-top: 40px
    margin: 0 auto
    display: grid
    grid-template-rows: repeat(14, auto)
    grid-row-gap: 50px
    grid-column-gap: 50px
    align-items: center
    justify-content: center
    margin-bottom: 30px 

@media screen and (max-width: 767px) 
    .days 
        grid-template-rows: repeat(7, auto)
        grid-template-columns: repeat(auto-fit, minmax(200px, 600px)) 
    .contentCountry 
        width: 70%
        margin: 0 auto  

@media screen and (min-width: 1150px) 
  .days 
    padding-bottom: 20% 

@media screen and (min-width: 768px) 
    .days 
        grid-template-rows: repeat(7, auto)
        grid-template-columns: repeat(auto-fit, minmax(200px, 600px))
    .contentCountry 
        width: 100%
        margin: 0 auto 
    .titleCountry 
        padding: 20px 50px 20px 50px 
    @media screen and (min-width: 950px) 
        .contentCountry 
            width: calc(100% - 300px)
            margin: 0 auto 
        @media screen and (min-width: 1150px) 
            .days 
                grid-template-columns: repeat(auto-fit, minmax(200px, 400px)) 
            @media screen and (min-width: 1300px) 
                .days 
                    grid-column-gap: 50px
                    grid-template-rows: repeat(5, auto) 
                @media screen and (min-width: 1600px) 
                    .days 
                        padding-bottom: 0%      









@for $i from 1 through 14 
  .ua_usa#{$i} 
    @include background-image("/ua_usa/day#{$i}.jpg", center, transparent, cover) 
  .ua_ig#{$i} 
    @include background-image("/ua_ig/day#{$i}.jpg", center, transparent, cover)  

@for $i from 1 through 14 
    #day#{$i}
        visibility: hidden
        position: absolute
        &:checked 

            ~ .moreDetails 
                background: #cd956ca3
                transition: 0.5s all ease
                transform: scale(1) 

            ~ .modalDayBack 
                width: 100%
                height: 100%
                z-index: 1
                top: 0
                border-radius: 0
                transition: 0.5s width ease 0.3s, 0.5s height ease 0.3s, 0.5s border-radius ease 0.5s
                .close 
                    opacity: 1
                    transition: 0.5s all ease 1s 

                .backDayText 
                    display: grid
                    justify-content: center
                    align-items: center
                    opacity: 0
                    animation-name: dayText
                    animation-timing-function: ease 
                    animation-duration: 1s
                    animation-delay: 1s
                    -webkit-animation-fill-mode: forwards     

.allDays 
    color: #d3d3d3
    @include fluidFontSize(13px, 16px, 320px, 1920px, 15px)
    display: grid
    position: relative
    grid-template-columns: 1fr
    justify-content: center
    align-items: center
    height: 450px
    width: 100%
    background-color: #383838
    box-shadow: 0 0 1vw 0.4vw #164c5f
    background-blend-mode: multiply 


.centerTopText 
  text-align: center
  h3 
    margin-block-end: 0  

.titleDayText 
    color: #d3d3d3
    text-align: center
    width: 75%
    margin: 0 auto
    @include fluidFontSize(18px, 25px, 320px, 1920px, 18px) 

.backDay 
    width: 100%
    height: 100%
    .moreDetails 
        bottom: 0
        margin-bottom: 25px
        position: absolute
        border: 2px solid #eeeae7ed
        background-color: #a99383a3
        width: 200px
        left: calc((100% - 200px) / 2)
        height: 50px
        border-radius: 50px
        cursor: pointer
        transition: 0.5s all ease
        transform: scale(0.8)
        @include fluidFontSize(25px, 35px, 320px, 1920px, 18px)
        color: #d3d3d3
        display: flex
        justify-content: center
        align-items: center
        padding-bottom: 7px  

.modalDayBack 
    width: 0
    height: 0
    background: #eeeae7ed
    border-radius: 50%
    transition: 0.5s all ease
    position: relative
    display: grid
    justify-content: center
    align-items: center 

.backDayText 
    overflow: auto
    height: 100%
    text-align: justify 

.close 
  width: 20px
  height: 20px
  position: absolute
  top: 25px
  right: 15px
  cursor: pointer
  opacity: 0
  &:before, &:after 
    position: absolute
    content: ''
    width: 2px
    height: 17px
    background: white 

  &:before 
    transform: rotate(45deg) 

  &:after 
    transform: rotate(-45deg)  


.daysBlockImage 
  display: none
  justify-content: center
  align-items: center
  bottom: 0
  height: 100%
  margin-right: 20px 







@media screen and (max-width: 767px) 
  .backDay 
    position: absolute
    bottom: 0 
  .modalDayBack 
    width: 0
    height: 0
    background: #eeeae7ed
    border-radius: 50% 
  .backDayText 
    width: 100%
    display: none
    color: #000000
    opacity: 0
    @include fluidFontSize(15px, 20px, 320px, 767px, 16px)
    padding: 0 20px 0 20px
    width: 75%
    margin: 0 auto 
  .daysBlockImage 
    display: grid
    position: absolute  

.daysImage 
  display: none
  width: 140px 

@media screen and (min-width: 768px) 
  .backDay 
    position: relative 
  .backDay .moreDetails 
    display: none 
  .titleDayText 
    display: none 
  .allDays 
    grid-template-rows: min-content auto
    .daysImage 
      display: block
      width: 140px
      height: auto  
  .modalDayBack 
    width: 100%
    height: 100%
    grid-template-columns: 65% 35%
    border-radius: 0
    background-color: transparent 
  .backDayText 
    display: grid
    justify-content: center
    align-items: center
    padding: 0
    @include fluidFontSize(13px, 15px, 768px, 1920px, 16px)
    color: #d3d3d3
    width: 85%
    margin: 0 auto
    opacity: 1 
  .daysBlockImage 
    display: grid 
  .displayBlock 
    display: block !important 

  @media screen and (min-width: 1150px) 
    .allDays 
      &:nth-child(2n) 
        margin-bottom: -90%  

    @media screen and (min-width: 1500px) 
      .allDays 
        .daysImage 
          display: block
          width: 140px
          height: auto  

      @media screen and (min-width: 1600px) 
        .allDays 
          &:nth-child(2n) 
            margin-bottom: 0%      

@keyframes dayText 
  0% 
      transform: translateY(-50px)
      opacity: 0
      -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%)
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%) 

  20% 
      transform: translateY(0)
      opacity: 1
      -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%)
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%) 

  100% 
      transform: translateY(0)
      opacity: 1
      -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0%)
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0%)  


.generalConditionsTitle 
    text-align: center 

.price 
    display: grid
    padding-bottom: 50px 

.priceList 
    display: grid
    align-items: center
    justify-content: center
    grid-column-gap: 20px
    grid-row-gap: 20px 

.priceTitle 
    text-align: center 

.priceImages 
    width: 100%
    max-width: 40px
    max-height: 40px 

.priceItem 
    display: grid
    align-items: center
    grid-column-gap: 20px
    grid-template-columns: 40px 1fr 

@media screen and (max-width: 767px) 
    .price 
        grid-template-columns: 1fr
        grid-template-rows: auto auto 


@media screen and (min-width: 768px) 
    .price 
        grid-template-columns: 1fr 1fr 

    .priceList 
        width: 80%
        margin: 0 auto
        grid-template-columns: 1fr 

    @media screen and (min-width: 1500px) 
      .priceList 
        grid-template-columns: 1fr 1fr   