.burger
    top: calc(50% - 12px)
    position: fixed
    left: 10px
    z-index: 3
    cursor: pointer
    box-sizing: border-box
    background-clip: content-box !important
    width: 40px
    height: 24px
    border-top: 11px solid transparent
    border-bottom: 11px solid transparent
    transition: all .25s ease
    background: #000
    transform: rotate(0deg)
    &::before,
    &::after
        content: ""
        position: absolute
        height: 2px
        width: 100%
        transition: all .8s ease
        background: #000
        transform: rotate(0deg)
    &::before
        top: -12px
    &::after
        top: 10px
    @media screen and ( min-width: 768px )
        display: none
.active
    background-color: transparent
    &:after,
    &:before
        background-color: #eee
        width: 110%
    &:after
        bottom: 0
        top: 1px
        -webkit-transform: rotate(-135deg)
        transform: rotate(-135deg)
    &:before
        top: 0
        -webkit-transform: rotate(135deg)
        transform: rotate(135deg)









    
.menu
    justify-content: normal
    color: #ffffff
    font-weight: 600
    text-transform: uppercase
    @media screen and ( max-width: 767px )
        position: fixed
        opacity: 0
        visibility: hidden
        transform-origin: left center
        transform: scale(0)
        background-color: #2a3140
        top: 0
        width: 100%
        height: 100%
        overflow: auto
        transition: all .4s ease-in-out
        grid-template-rows: repeat(2,-webkit-min-content) auto
        z-index: 2
    @media screen and ( min-width: 768px )
        width: 90%
        margin: 0 auto
    li
        list-style: none
    .menu_list
        grid-template-columns: repeat(6,1fr)
        grid-column-gap: 10px
        margin: 0
        padding: 0
        @media screen and ( max-width: 767px )
            grid-gap: 20px
            margin-left: calc(60px + 1%) !important
            width: calc(95% - (1% + 60px))
            grid-template-columns: repeat(auto-fit,minmax(100px,350px))
        .menu_list_item
            justify-content: normal
            position: relative
            .first_sublist
                margin-left: 15px
                display: none
                position: relative
                z-index: 2
                .menu_sublist
                    width: 100%
                    margin-top: 10px
                    justify-content: normal
                    grid-row-gap: 10px
                    padding: 0
                    position: relative
                    @media screen and ( max-width: 768px )
                        position: relative !important
                    .second_sublist
                        display: none
                        margin-left: 15px
                        grid-row-gap: 10px
                        .third_sublist
                            display: none
                            margin-left: 15px
            @media screen and ( min-width: 768px )
                &:hover
                    .first_sublist
                        display: grid !important
                        position: absolute
                        margin-top: 80px
                        height: 100%
                        width: 100%     
                    .first_sub
                        background-color: #eeddcf
    span
        display: grid
        align-items: center
        font-size: 13px
        grid-column-gap: 20px
        cursor: pointer
        width: 100%
        height: 100%
        padding: 0px 20px
        @media screen and ( max-width: 768px )
            padding: 10px 20px !important
            border: 1px solid hsla(0,0%,100%,.09)
            
    
        
.open
    @media screen and ( max-width: 768px )
        opacity: .99
        visibility: visible
        transform: scale(1)
        

.submenu_block
    @media screen and ( max-width: 767px )
        display: grid !important
        height: 100% !important

.grid_li
    justify-content: normal
    
.menu_sublist
    margin-top: 10px
    justify-content: normal
    grid-row-gap: 10px
    padding: 0

.down_arrow
    margin: 0 auto
    width: 30px
    outline: none
    &:active
        outline: none
    &:hover
        cursor: pointer
    @media screen and ( min-width: 768px )
        display: none
        

.second_sub
    @media screen and ( min-width: 768px )
        &:hover
            .third_sublist
                display: grid !important
            .second_sub_how
                background-color: #eeddcf
        .third_sub_how
            &:hover
                background-color: #eeddcf


.third_sublist
    display: none
    margin-left: 15px

.menu_list_item_href_wrapper
    @media screen and ( min-width: 768px )    
        height: 40px
        padding: 0
        width: 100%
        border: 2px solid #eeddcf
        color: #988779
        background-color: #f0f8ff
        grid-area: 1/1
        display: flex
        justify-content: center
        align-items: center
    @media screen and ( max-width: 767px )
        grid-template-columns: 1fr 40px


.menu_wrapper
    margin-top: 10px
    margin-bottom: 10px


.active_menu
    background-color: #eeddcf
    @media screen and ( max-width: 768px )
        background-color: #2b426b
        